<a class="post-card" href="{{ .RelPermalink }}" data-search-item data-search-title="{{ .Title | lower }}">
  {{ if and (ne .Site.Params.showPostDates false) (ne .Params.has_date false) }}
    <div class="post-card__meta">
      <span>{{ .Date.Format "2006-01-02" }}</span>
    </div>
  {{ end }}
  <h3>{{ .Title }}</h3>
  <p>{{ .Summary | plainify | truncate 140 }}</p>
  <div class="post-card__footer">
    {{ with .Params.tags }}
      {{ range first 2 . }}
        <span class="tag">{{ . }}</span>
      {{ end }}
    {{ end }}
  </div>
</a>
